/* Common style */


body {
  font-family: 'fLuidiforme-helvetica', sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent scrolling during animation */
}

header {
  display: block;
}

.slide-up-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  overflow: hidden;
  display: none;
  z-index: 1;
  padding: 20px; /* Adjust padding as needed */
  box-sizing: border-box;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Optional: Add a box shadow */
}
/*questa funzione fa in modo che le immagini dentro un progetto siano sempre più piccole dello schermo*/
div.project-data-container img {
  width: 100%;
}
/********************/
/* Style for mobile */
/********************/
@media (max-width: 999px) {
  /* Rules for NavBar */
  nav {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;   
    border-radius: 10px;
    overflow: hidden;
    background-color: rgba(68, 68, 68, 0.6);
    position: fixed;
    top: 10px;
    left: 5%;
    z-index: 1000;
  }
  nav a {
    text-align: center;
    color: #fff;
    text-decoration: none;
    display: flex;
    border-radius: 10px;
    padding: 10px 20px; /* Increase padding to give more space */
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden; /* Hide overflow text */
    text-overflow: ellipsis; /* Add ellipsis if text is too long */
    font-size: smaller; /* Reduce font size */  
    
  }
  nav a:hover {
    background-color: #555;
  }
  /* Rules for slide-up effect on click and main containers */
  .slide-up-container.show {
    display: block;
    animation: slide-up 0.5s ease-in-out;
    padding-left: 5%;
  }
  .slide-up-content {
    margin-top: 40px; /* Adjust to match header height */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  /* Rules for Main Content */
  .main-content {
    position: absolute;
    top: 10;
    left: 0;
    height: 100%;
    width: 100%;
  }
  /* Rules for slideshow in homepage */
  .main-content img {
    width: 100vw;
    height: 106vh;  /* Adjusts the height to take up the remaining viewable area */
    object-fit: cover; /* This property makes the image cover the given dimension, similar to background-size: cover; */
    display: none; /* Hide all images initially */ 
    position: absolute; /* Overlay images on top of each other */
    top: -6% !important;
    left: 0% !important;
  }
  .main-content img:first-child {
    display: block; /* Show the first image by default */
  }

  /* Rules for about page */
  #aboutContent {
    padding: 20px;
    width: auto;
  }
  /* Rules for Projects Page */
  .projectsMenu {
    display: none;
  }

  #show.projectsMenu {
    display: block;
    animation: slide-up 0.5s ease-in-out;
  }

  /* Rules for Main Content */
  .copertina {
    position: absolute;
    top: 10;
    left: 0;
    height: 70vh;
    width: auto;
  }
  /* Rules for slideshow in homepage */
  .copertina img {
    width: 90%;
    height: 90%;  /* Adjusts the height to take up the remaining viewable area */
    object-fit: cover; /* This property makes the image cover the given dimension, similar to background-size: cover; */
    display: none; /* Hide all images initially */ 
    position: absolute; /* Overlay images on top of each other */
    top: 2% !important;
    left: 5% !important;
  }
    .projectsMenu a {
    text-align: center;
    display: block;
    margin-top: 15px;
    text-decoration: none;
    color: #333; /* Cambia colore testo a tuo piacimento */
  }
  .projectsMenu a:hover {
    background-color: #fff;
    color: #fff;
    transition: background-color 0.5s ease;
  }
 
  .project-data-container {
    background-color: #fff;
    display: none;
    overflow-y: scroll;
    scrollbar-color: transparent transparent;
    padding: 20px; /* Adjust padding as needed */
    height: 70vh;
  }
  .project-data-container.visible {
    display: block;
    animation: slide-up 0.5s ease-in-out;
    overflow-y: auto;
  }
}

/*********************/
/* Style for desktop */
/*********************/
@media (min-width: 1000px) {
  /* Rules for NavBar */
  nav {
    background-color: #444;
    border-radius: 10px;
    overflow: hidden;
    background-color: rgba(68, 68, 68, 0.6);
    padding: 2px;
    margin: 10px;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 2;
  }
  nav a {
    color: #fff;
    text-decoration: none;
    padding: 8px 20px;
    display: inline-block;
    border-radius: 10px;
  }
  nav a:hover {
    background-color: #555;
  }

  /* Rules for slide-up effect on click and main containers */
  .slide-up-container.show {
    display: block;
    animation: slide-up 0.5s ease-in-out;
  }
  .slide-up-content {
    margin-top: 40px;
    padding: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  /* Rules for homepage behaviour */
  #homeContent {
    width: 100%;
    height: 100%;
  }
  .draggable {
    cursor: move;
    /* Images dimensions are changed here */
    width: 28%; /* Adjust the width */
    height: auto; /* Maintain aspect ratio */
  }
  /* Rules for Projects Page behaviour */
  .main-content {
    position: absolute;
    top: 10;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .project-container{
    display: grid;
    grid-template-columns: 1fr 3fr; 
    gap: 20px; /* Spazi tra le colonne */
    position: absolute;
    top: 10;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Abilita lo scroll */
  }
  .left-column {
    margin-right: 20px;
    font-size: 27px; /* Adjust the font size as needed */
  }
  .right-column {
    overflow-y: scroll; /* Enable vertical scrolling */
    /*scroll-snap-type: y mandatory; /* Snap to each block when scrolling */
  }
  .projectsMenu {
    position: fixed;
    bottom: 100px;
    left: 30px;
    padding: 10px;
  }
  .projectsMenu a {
    font-size: 32px;
    color: black;
    text-decoration: none;
    margin-bottom: 10px; /* Add margin between menu items */
    display: block;
  }
  .project-data-container {
    overflow: hidden;
    display: none;
    margin-right: 50px;
    padding: 20px; /* Adjust padding as needed */
  }
  .project-data-container.visible {
    display: block;
    animation: slide-up 0.5s ease-in-out;
  }

  
}

/* keyframes */
@keyframes slide-up {
    from {
      transform: translateY(100%);
    }
    to {
      transform: translateY(0);
    }
}

@keyframes imageAnimation {
  0%, 1% {
    display: none;
  }
  5%, 100% {
    display: block;
  }
}

@font-face {
  font-family: 'fluidiforme-helvetica';
  src: url('fonts/font.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}